[submodule "hidapi"]
	path = hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "ImFileDialog"]
	path = ImFileDialog
	url = https://github.com/dfranx/ImFileDialog.git
