[submodule "hidapi"]
	path = hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui-cmake"]
	path = imgui-cmake
	url = https://github.com/tamaskenez/imgui-cmake.git
